Task 1: Use Python to find the number of minutes in a week.

In [ ]:
week_mins = 7 * 24 * 60
print(f"minutes in a week {week_mins}")

minutes in a week 10080

Task 2: Use Python to find the remainder of 2304811 divided by 47 without using the modulo operator %.
(Hint: Use //.)

In [4]:
remainder = 2304811 - ( (2304811 // 47) * 47)
print(f"remainder of 2304811 divided by 47 {remainder}")

remainder of 2304811 divided by 47 25

Task 3: Enter a Boolean expression to test whether the sum of 673 and 909 is divisible by 3.

In [5]:
isSumDivisible = ( (673 + 909) % 3 ) == 0
print(f" whether the sum of 673 and 909 is divisible by 3 : {isSumDivisible}")

 whether the sum of 673 and 909 is divisible by 3 : False

Task 4: Assign the value -9 to x and 1/2 to y. Predict the value of the following expression, then enter it
to check your prediction:
2**(y+1/2) if x+10<0 else 2**(y-1/2)

In [6]:
x = -9
y = 1/2
predict = 2 ** (y + 1/2) if x + 10 <0 else 2 ** (y -1/2)
print(f"prediction of the expression {predict}")

prediction of the expression 1.0

Task 5: Write a comprehension over {1, 2, 3, 4, 5} whose value is the set consisting of the squares of the
first five positive integer

In [7]:
result_set = { x**2 for x in {1, 2, 3, 4, 5} if x > 0}
print(f"resulting set {result_set}")

resulting set {1, 4, 9, 16, 25}

Task 6: Write a comprehension over {0, 1, 2, 3, 4} whose value is the set consisting of the first five powers
of two, starting with 2
0

In [8]:
result_set = { 2 ** x for x in {0, 1, 2, 3, 4}}
print(f"resulting set {result_set}")

resulting set {1, 2, 4, 8, 16}

Task 7 The value of the previous comprehension,
{x*y for x in {1,2,3} for y in {2,3,4}}
is a seven-element set. Replace {1,2,3} and {2,3,4} with two other three-element sets so that the value
becomes a nine-element set.

In [9]:
multi_set = {x*y for x in {1,2,4} for y in {2,3,5}} 
print(f"resulting set {multi_set}")

resulting set {2, 3, 4, 5, 6, 8, 10, 12, 20}

Task 8: Replace {1,2,3} and {2,3,4} in the previous comprehension with two disjoint (i.e. non-overlapping)
three-element sets so that the value becomes a five-element set.

In [11]:
non_overlap_multi_set = {x*y for x in {1,2,0} for y in {0, 5, 6}} 
print(f"resulting set {non_overlap_multi_set}")

resulting set {0, 5, 6, 10, 12}